## Assignment-1: Create New Conditional Column

In [1]:
import pandas as pd

data = {'sales': [100, 200, 300, 400],
        'profit': [10, 20, 30, 40],
        'ship_mode': ['Same_Day', 'First_Class', 'Standard_Class', 'Others']}

df = pd.DataFrame(data)

def calculate_total_cost(row):
    if row['ship_mode'] == "Same_Day":
        surcharge = 0.2
    elif row['ship_mode'] == "First_Class":
        surcharge = 0.1
    elif row['ship_mode'] == "Standard_Class":
        surcharge = 0.05
    else:
        surcharge = 0

    return (row['sales'] - row['profit']) * (1 + surcharge)

df['Total_Cost'] = df.apply(calculate_total_cost, axis=1)

print(df)

   sales  profit       ship_mode  Total_Cost
0    100      10        Same_Day       108.0
1    200      20     First_Class       198.0
2    300      30  Standard_Class       283.5
3    400      40          Others       360.0